---
BasedOnStyle: Microsoft
AllowShortLambdasOnASingleLine: All
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: 'true'
AllowShortBlocksOnASingleLine :  'true'
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: 'false'
BinPackArguments: 'false'
BreakBeforeBraces: Custom
FixNamespaceComments: 'true'
IndentWidth: '4'
NamespaceIndentation: None
PointerAlignment: Left
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: 'false'
MaxEmptyLinesToKeep: 1
CompactNamespaces: 'true'
AccessModifierOffset: -4
SeparateDefinitionBlocks : Always
AlignConsecutiveDeclarations: 'true'
BraceWrapping:
  AfterNamespace:  false
SortIncludes: false
ColumnLimit: 120
...
